<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-4.2.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
						http://www.springframework.org/schema/tx 
        				http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        				http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>WEB-INF/config.properties</value>
		</property>
	</bean>

	<bean id="properties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="WEB-INF/config.properties" />
	</bean>




	<bean id="pttEntityManagerFactoryBean"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="pttDataSource" />
		<!-- <property name="packagesToScan" value="com.dventus.ptt.*:com.dventus.common.*" 
			/> -->
		<property name="persistenceUnitName" value="ptt-persistenceunit" />

		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.show_sql">${showSql}</prop>
				<prop key="hibernate.dialect">${databasePlatform}</prop>
			</props>
		</property>
	</bean>

	<bean id="pttDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${pttmysqlUrl}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<bean id="pttTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="pttEntityManagerFactoryBean" />
	</bean>

	<bean id="pttDao" class="com.dventus.dao.common.Impl.GenericDaoImpl">
		<constructor-arg ref="pttEntityManagerFactoryBean" />
	</bean>

	<bean id="common" class="com.dventus.api.common.resource.CommonResourceFactory">
		<constructor-arg ref="pttDao" />
	</bean>

	<bean id="pttFactory" class="com.dventus.ptt.factory.PTTResourceFactory"
		parent="common">
	</bean>

	<bean id="processorBinImpl" class="com.dventus.server.processorfactory.ProcessorBinImpl" />
	
	<bean id="permission" class="com.dventus.requestPermission.RequestPermission">
	  <constructor-arg ref="pttDao" />
	</bean>
	
	<bean id="actionMapper" class="com.dventus.server.requestPermission.ActionMapper"/>
	
	<bean id="itemTypeMapper" class="com.dventus.server.requestPermission.ItemTypeMapper"/>
	
	<bean id="deviceCategoryMapper" class="com.dventus.server.requestPermission.DeviceCategoryMapper"/>

	<bean id="api" class="com.dventus.server.servlet.API">
		<constructor-arg ref="pttFactory" />

		<constructor-arg ref="processorBinImpl" />

		<!-- <property name="userPermission" ref="aradaUserPermission"></property> -->
		<!-- <property name="permissionApi" ref="aradaPermission"></property> -->
	</bean>

	 <!--ftp configuration -->
<!--
	<bean id="propertyResolver" class="com.dventus.headend.utilities.PropertyResolver">
		<constructor-arg type="File" value="WEB-INF/users.properties" />
		<constructor-arg><null/> </constructor-arg>
		<constructor-arg> <null/> </constructor-arg>
	</bean>
	
	<bean id="pttFtpFactory" class="com.dventus.ptt.ftp.PttFTPFactory">
		<constructor-arg ref="pttDao" />
	</bean>
	
	<bean id="ftpUsersFactory"
		class="org.apache.ftpserver.usermanager.PropertiesUserManagerFactory">
		<property name="file" value="#{propertyResolver.resolvedProperties}" />
		<property name="passwordEncryptor">
			<bean class="com.dventus.headend.ftp.PlainPasswordEncryptor">
			</bean>
		</property>
	</bean>
	
	<bean id="ftpServer" factory-bean="ftpServerFactory"
		factory-method="createServer" init-method="start" />
		
	<bean id="ftpServerFactory" class="org.apache.ftpserver.FtpServerFactory">
		<property name="userManager">
			<bean id="ftpUsers" factory-bean="ftpUsersFactory"
				factory-method="createUserManager" />
		</property>
		<property name="listeners">
			<map>
				<entry key="ftpListener">
					<bean factory-bean="ftpListenerFactory" factory-method="createListener" />
				</entry>
			</map>
		</property>
		<property name="ftplets">
			<map>
				<entry key="dxpttFtplet">
					<bean class="com.dventus.ptt.ftp.Ftplet">
						<constructor-arg ref="pttFtpFactory" />
					</bean>
				</entry>
			</map>
		</property>

	</bean>

	<bean id="ftpListenerFactory" class="org.apache.ftpserver.listener.ListenerFactory">
		<property name="port" value="${ftp.port}" />
	</bean> -->

</beans>
